<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>

<script>
$(document).ready(function() {
	$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		defaultDate: '2019-09-03',
		editable: true,
		eventLimit: true, // allow "more" link when too many events
		events: {
	        url: '/allevents',
	        type: 'GET',
	        error: function() {
	            alert('there was an error while fetching events!');
	        },
	    }
	});
});

</script>

<style>
	#calendar {
		max-width: 650px;
		margin: 0 auto;
	}
</style>

</head>
<body>
<div layout:fragment="content" class="container mySpace">
	<div id='calendar' th:id="calendar"></div>
</body>
</html>