<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="ISO-8859-1">
<title>list of leave application</title>
<!-- <link th:href="@{/bootstrap4.3.1/css/bootstrap.min.css}"
	rel='stylesheet' type='text/css' /> -->
</head>
<body>
	<div layout:fragment="content" class="container mySpace">
<form th:action="@{/viewUser}">
	         <input type="text"  name="name" placeholder="Search User list by departments" />
	         <button>View User</button>
	     </form>
	   
	 <table class="table">
		<tr>
			<th>ID</th>
			<th>UserName</th>
			<th>Email</th>
			<th>Role</th>
			<th>Departments</th>
		</tr>
		<tr th:each="u : ${user}">
			<td th:text="${u.user_id}"></td>
			<td th:text="${u.username}"></td>
			<td th:text="${u.email}"></td>
			<td th:text="${u.roles.name}"></td>
			<td th:text="${u.departments.name}"></td>
			
		</tr>
	</table>

	</div>
</body>
</html>