<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="ISO-8859-1">
<title>list of leave application</title>
<!-- <link th:href="@{/bootstrap4.3.1/css/bootstrap.min.css}"
	rel='stylesheet' type='text/css' /> -->
</head>
<body>
	<div layout:fragment="content" class="container mySpace">
	<table class="table">
		<tr>
			<th>ID</th>
			<th>fromDate</th>
			<th>toDate</th>
			<th>leaveType</th>
			<th>reason</th>
			<th>duration</th>
			<th>Action</th>
			<th>User Id</th>
			<th>UserName</th>
			<th>Email</th>
			<th>Comments</th>
		</tr>
		<tr th:each="leave : ${leaverequest}">
			<td th:text="${leave.leave_id}"></td>
			 <td th:text="${#dates.format(leave.fromDate, 'yyyy-MM-dd')}"></td>
			<td th:text="${#dates.format(leave.toDate, 'yyyy-MM-dd')}"></td> 
			<!-- <td th:text="${leave.fromDate}"></td>
			<td th:text="${leave.toDate}"></td> -->
			<td th:text="${leave.leaveType}"></td>
			<td th:text="${leave.reason}"></td>
			<td th:text="${leave.duration}"></td>
			<td th:text="${leave.AcceptRejectFlag}"></td>
			<td th:text="${leave.users.user_id}"></td>
			<td th:text="${leave.users.username}"></td>
			<td th:text="${leave.users.email}"></td>
			
			 <td><a th:href="@{'/edit/' + ${leave.leave_id}}">view</a></td> 
		</tr>
	</table>
	</div>
</body>
</html>